:root {
    --branding-color: #648a65;
    --secondary-color: #f9f7e3;
    --heading-font-family:"Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}
body{
    margin: 60px auto;
    font-family: var(--default-font-family);
}

nav a{
    text-decoration: none;
    color:black;
    transition: all 100ms ease-in-out;
}
nav a:hover, nav li.active a{
color:var(--branding-color)    
}

h1, h2, h3, h4, h5, h6{
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
h1{
    font-size: 96px;
}
h2{
    font-size: 64px;
    text-align: center;
}
h4{
font-size: 48px;
}
p{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.active:visited{
color: rgba(216, 179, 77, 0.569)!important;
}
.logo{
    max-height: 100px;
    max-width:20%;
    color: var(--branding-color);
    font-size: 18px;
    border-radius:50% ;
}
.justify-content-between{
    justify-content: space-between! important;
}
.buttons{
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
    justify-content: center;
}
.buttons a{
    margin: 20px;
    padding: 20px 15px;
}
.hero{
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}
.hero h2{
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}
.hero p{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color:#272142;
}
.btn-branding{
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
footer{
    margin:60px 0;
}
footer .contact-box{
background-color: var(--secondary-color);
padding: 30px 120px; 
border-radius: 10px;
}
footer .contact-box p{
    margin:0;
}
footer .email-link {
    display: flex;
    justify-content: center;
    color: var(--branding-color);
    text-decoration: none;
    font-size: 24px;
}
footer .email-link:hover{
    color: var(--branding-color);
}
footer .social-links a{
margin:0 20px;
color: var(--branding-color);
background-color: var(--secondary-color);
padding:10px 14px;
font-size: 18px;
border-radius:50% ;
transition: all 150ms ease-in-out;
}
footer .social-links a:hover{
color: var(--secondary-color);
background-color: var(--branding-color);
}
.project-description{
    padding: 120px 60px;
}
.content-container{
    padding:30px;
    text-align: center;
}
.content{
    margin: 30px;
}
.content h1{
    font-size: 64px;
    line-height: 80px;
}
.content h2{
    font-size: 18px;
    font-family: var(--default-font-family);
}
.content h3{
    font-size:24px ;
    line-height: 1.5;
    margin:20px 0 0;
    font-family: var(--default-font-family);
}
.content p{
    font-size: 14px;
}
@media(max-width:900px){
    .hero{padding:80px 20px;}
    h1{
        font-size: 44px;
        line-height: 2;
    }
    h2{
        font-size: 44px;
    }
    h4{
        font-size: 26px;
    }
    .btn{
        font-size: 18px;
    }
    .project-description{
        padding: 0;
        text-align: center;
    }
    .content{
        text-align: center;
        padding: 0;
    }
}